<%= form_for @reg do |f|%>
	<div class='field'>
		<%= f.label :Name %>
		<%= f.text_field :name %>
	</div><br><br>

    <div class="field">
		<%= f.label :Country%>
		<%= f.text_field :country %>
	</div>  <br>
	 <div class="field">
		<%= f.label :State%>
		<%= f.number_field :state%>
	</div>  <br>
	 <%= f.label :Address %>
      <%= f.file_field :address  %><br>

	
	<div class="action">
	   <%= f.submit %> 
	</div>
<%end%> 